#fourimages {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 100%;
	height: auto;
	margin-right: 5%;
	margin-left: 5%;
}
#imagess{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  vertical-align: center;
}
#about{
	font-family: 'Merriweather', serif;
	color: white;
	margin: 10% 4% 10% 4%;
	padding: 3% 3% 3% 3%;
	background-color: rgb(43, 99, 172);
	line-height: 1.5em;
	max-height: 2000px;
}
#about h1{
  font-size: 3em;
  text-align: center;
}
#about h2{
  font-size: 2em;
  text-align: center;
}
main{
	margin-top: 7.5%;
	padding: 1% 0 5% 0;
	background-size: cover;
	background-image: url(../media/aboutbackground.jpg);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
#leftparagraph{
	float:left;
	width: 40%;
	height: 10%;
	margin-right: 1%;
	margin-left: 1%;
}
#rightparagraph{
	float:left;
	float:right;
	width: 45%;
	height: 10%;
	margin-right: 1%;
	margin-left: 1%;
}
#history{
	background-color: rgb(43, 99, 172);
	margin: 1% 4% 20% 4%;
	padding: 3% 3% 3% 3%;
}
#about p{
	text-align: center;
}
